.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title > div {
  text-align: center;
}

.title,
.description {
  text-align: center;
}

.button {
  background-color: #f34a00;
  color: white;
  border: 2px solid #f34a00;
  border-radius: 5px;
  margin-left: 0.5rem;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  font-size: 1.1rem;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.validate {
  color: #f30041;
}

.highlight {
  color: #f34900a5;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

/* @media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */

.answer {
  display: flex;
  padding: 1rem 1.25rem;
  line-height: 1.2;
  background: rgba(243, 74, 0, 0.2);
  border-radius: 4px;
  border: 1px solid rgba(243, 74, 0, 0.75);
  color: rgba(0, 0, 0, 0.9);
  width: 100%;
  max-width: 650px;
}

.os {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.8rem;
  display: flex;
  gap: 0.65rem;
  align-items: center;
  color: rgba(0, 0, 0, 0.8);
}

.os:hover {
  opacity: 0.9;
}

.os > a:nth-child(3) {
  border-radius: 0.32rem;
  padding: 3px 10px;
  border: 1px solid rgba(12, 12, 16, 1);
  background: rgba(18, 19, 25, 0.92);
}

.os  > a > img {
  width: 92px;
}

@media (max-width: 767px) {

  .container {
    height: auto;
  }

  .main {
    justify-content: flex-start;
  }

  .title {
    font-size: 3rem;
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .button {
    margin-top: 0.75rem;
  }

  .os {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding-left: 0.75rem;
    position: fixed;
  }

}